.wrapper {
  width: 100%;
  min-height: calc(100vh - 10rem);
  padding: 5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
}

.home {
  width: 100%;
  min-height: calc(100vh - 10rem);
  border: 1px solid $border;
}
