$border: #cacaca;
$black: rgb(42, 42, 42);
$lightblack: rgb(70, 70, 70);
$grey: rgb(245, 245, 245);
$hardGrey: rgb(97, 97, 97);
$green: rgb(164, 211, 137);
$orange: rgb(255, 110, 84);
$lightOrange: rgb(228, 207, 205);
$lightGreen: rgb(223, 236, 216);
