extends base

block content
    .wrapper
        .join
            form.join__inner(method="POST")
                input.join__inner__input(type="email", placeholder="EMAIL", name="email", required value=loggedInUser.email)
                input.join__inner__input(type="text", placeholder="USERNAME", name="username", required value=loggedInUser.username)
                input.join__inner__submit(type="submit", value="SUBMIT")