extends base

block content
    .wrapper
        .join
            form.join__inner(method="POST",  enctype="multipart/form-data")
                img.avatar__image(src=`/${loggedInUser.avatarUrl}`)
                label.join__inner__label(for="avatar") 사진 업로드
                input.join__inner__avatar(type="file", id="avatar" name="avatar", accept="image/*")
                input.join__inner__input(type="email", placeholder="이메일", name="email", required value=loggedInUser.email)
                input.join__inner__input(type="text", placeholder="아이디", name="username", required value=loggedInUser.username)
                input.join__inner__submit(type="submit", value="프로필 변경")
                .join__inner__divider
                a.join__inner__link(href=`change-password`) 비밀번호 변경
