extends base
include mixins/videoMix

block content
    .wrapper--search
        form.search
            input.search__input(type="text" name="keyword")
            input.search__submit(type="submit" value="검색")
        .home
            if videos
                if videos.length===0
                    span.home__nothing 검색 결과 찾을 수 없습니다.
                else
                    each video in videos
                        +videoMix(video)