extends base

block content
    .wrapper
        .join
            form.join__inner(method="POST", enctype="multipart/form-data")
                label.join__inner__label(for="video") 비디오 파일 선택
                input.join__inner__avatar(type="file", accept="video/*", required, id="video", name="video")
                label.join__inner__label(for="thumb") 썸네일 사진 선택
                input.join__inner__avatar(type="file", accept="image/*", required, id="thumb", name="thumb")
                input.join__inner__input(type="text", placeholder="제목", name="title", required, maxlength=50)
                input.join__inner__input(type="text", placeholder="설명", name="description", required, minlength=5)
                input.join__inner__input(type="text", placeholder="해쉬태그 / 콤마로 구분", name="hashtags", required)
                input.join__inner__submit(type="submit", value="upload")
