.header
    .header__search
        a.mouse-fc(href="/search") 검색
    .header__title 
        a 볼껴?
    .header__info
        a.header__info__login.mouse-fc(href="/login") 접속
        a.header__info__join.mouse-fc(href="/join") 회원가입